*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'New Tegomin', serif;
    width: 100%;
    height: 100%;
}
.cabeça{
    width: 100%;
    height: 4.5em;
    background-color: #F5FA43;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nome-pagina{
    font-size: 2em;
    color: #9692DB;
    margin-left: 20px;
    transition: 1s;
    
}
.nome-pagina:hover{
    font-size: 2.3em;
    cursor: default;
}
a{  
    text-decoration: none;
}
li a{
    color:  #F5FA43;
}
li:hover{
    transform: scale(1.2);
}
.menu{
    background-color: #9692DB;
    width: auto;
    height: 3.45em;
    display: flex;
    border-width: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.3em;
    font-weight: bolder; 
}
.menu li{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    margin-bottom: 05%;
}
.container-textos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-textos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo{
    margin-top: 2%;
    text-align: center;
    font-size: clamp(3em, 1em + 3vw, 3.5em);
    color: #9692DB;
}
.texto1{
    color: #FF6E47;
    font-weight: bolder;
    text-align: center;
    border: 2px white solid;
    padding: 1em;
    margin-top: 2%;
    margin-bottom: 02%;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
    word-break: break-word;
}
.container-fotos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fotos{
    max-width: 35em;
    max-height: 35em;
    background-size: cover;
    display: flex;
    margin: 02em;
    border: 15px #F0AB22 solid;    
}

footer{
    width: 100%;
    background-color: #F5FA43;
    color: #9692DB;
    font-size: 01.5em;
    font-weight: bolder;
    text-align: center;
    padding: 1.5em;

}


@media(max-width: 650px){

    .cabeça{
        display: flex;
    }
    .nome-pagina{
        display: none;
    }
    .menu{
        margin: 0;
        width: 100%;
        height: 310px;
        height: auto;
        font-size: 2em;
        flex-direction: column;
    }
    li{
        margin: 0;
        padding-bottom: 01%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px #F5FA43 solid;
    }
    .container-textos{
        display: flex;
    }
    .titulo{
        margin-top: 50%;
        flex-wrap: wrap;
    }

    .fotos{
        width: auto;
    }
    
}